body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
h1{
    padding: 0;

}
/* CSS for the footer */
footer {
    background-color: #333; /* Set your preferred background color */
    color: #fff; /* Set your preferred text color */
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

#bodyfigure {
    padding: 0;
    grid-row: 1/ span 2;

}

nav {
    background-color: #0e6c94;
    overflow: hidden;
    flex-wrap:wrap;
}
/* Style your navigation bar as needed */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    padding: 10px 10px;
    color: #0f0e0e;
    font-weight: bold;
}

/* Add a separator line to the right of each list item */
.navbar li:not(:last-child) a::after {
    content: "|";
    margin: 0 5px;
    color: #1addf7;
}
.main-header {
    grid-area: header;
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }
  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "sidebar content"
        "ad      footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
  }
