
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f97cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    padding: 0;

}
/* CSS for the footer */
.main-footer {
    background-color: #333; /* Set your preferred background color */
    color: #fff; /* Set your preferred text color */
    text-align: center;
    padding: 10px;
    font-size: 14px;
    gap: 0.5em; 
}
.h1-container{
    display: flex;
  justify-content: center;
}
nav {
    background-color: #10aef2;
    overflow: hidden;
    flex-wrap:wrap;
}
/* Style your navigation bar as needed */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar div {
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    padding: 10px 10px;
    color: #0f0e0e;
    font-weight: bold;
    flex: auto;
}

/* Add a separator line to the right of each list item */
.navbar div:not(:last-child) a::after {
    content: "|";
    margin: 0 5px;
    color: #011517;
}
.body {
    width: 300px;
    height: 500px;
    background-color: #090808;
    position: relative;
}

.muscles {
    background-image: url('Muscle\ img.png'); /* Your muscles image URL */
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #090808;
}

.highlight {
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.resources {
    display: none;
    position: absolute;
    top: 0;
    left: 120px; /* Adjust as needed */
    background-color: #e8dddd;
    padding: 20px;
    border: 1px solid #7bb2d5;
}

.resources h2 {
    margin: 0;
}

.resources ul {
    list-style: none;
    padding: 0;
}

.resources li {
    margin: 10px 0;
}

.resources a {
    text-decoration: none;
    color: #007bff;
}